@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #EFF2F6;
    font-family: 'Roboto', sans-serif;
}

.pagelet {
    padding: 10px;
}

.search-box input {
    padding-top: 0.27rem;
    padding-bottom: 0.27rem;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.add-model {
    width: 40%;
    top: 5%;
    left: 25%;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
            box-shadow: 5px 5px 15px 5px #000000;
}

@layer components {
    .table {
        @apply w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400;
    }
    .table thead {
        @apply text-xs text-gray-300 uppercase dark:bg-gray-700
    }
    .table thead th,
    .table tbody td {
        @apply px-6 py-3 border;
    }
    .table tbody tr {
        @apply bg-white border dark:border-gray-800 text-gray-500;
    }
    .copy-button {
        @apply border-solid bg-gray-300 rounded px-1 text-xs ml-1 align-super;
    }
    .l_text {
        @apply max-w-[170px] overflow-hidden inline-block text-ellipsis whitespace-nowrap;
    }
    .appname_text {
        @apply max-w-[112px] w-[112px] overflow-hidden text-ellipsis whitespace-nowrap;
    }
  }